/* Base styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Content styles */
#content {
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px auto;
    background: #f8f8f7;
    text-align: center; /* Center the applet text */
}

#content applet {
    width: 100%; /* Applet covers the full width */
    height: auto; /* Adjust height as needed */
    border: none; /* Remove any default borders */
    background: #fff;
}


#content img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
}

/* Header styles */
header {
    background-color: #f1f1f1;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.university-logo {
    width: 50%; /* Adjust as per your image's aspect ratio */
    display: block;
    margin: 0 auto;
}

/* Navigation styles */
.main-navigation {
    background-color: #333;
    color: #fff;
}

.main-navigation ul {
    list-style-type: none;
    padding: 0;
}

.main-navigation ul li {
    display: inline;
    margin-right: 20px;
}

.main-navigation a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    display: inline-block;
    border-radius: 15px; /* Rounded corners for nav items */
    transition: background-color 0.3s;
}

.main-navigation a:hover {
    background-color: #555;
}

/* Main content styles */
main {
    padding: 20px 0;
}

.department-intro, .news-and-events, .program-info {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f8f8f7;
    border: 1px solid #ddd;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Responsive design */
@media (max-width: 768px) {
    .main-navigation ul li {
        display: block;
        text-align: center;
    }
}
